<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
        RewriteRule ^(.*)/$ /$1 [L,R=301]

        # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

setEnv LOCAL_MODE true

SetEnv LOCAL_HOST localhost
SetEnv LOCAL_NAME candy
SetEnv LOCAL_USER candy
SetEnv LOCAL_PASS candy
SetEnv LOCAL_DNS mysql:dbname=candy;host=localhost

setEnv PRODUCTION_FFMPEG /usr/local/ffmpeg_build/bin/ffmpeg
SetEnv PRODUCTION_HOST tk2-204-11685
SetEnv PRODUCTION_NAME candy
SetEnv PRODUCTION_USER candy
SetEnv PRODUCTION_PASS candy
SetEnv PRODUCTION_DNS mysql:dbname=candy;host=tk2-204-11685

