@charset 'utf-8';

header {
	background: none;
	border-bottom: none;
	background-size: cover;
	text-align: center;
	position: relative;
	overflow: hidden;
}
#header-nav li a {
	color: #fff;
}
.fixed #header-nav li a {
	color: #4d2d29;
}
#mainVisual {
	margin-top: -66px;
	position: relative;
	background-color: rgba(0,0,0,0.6);
}
#mainVisual p img {
	width: auto;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#mainVisual video {
	width: 100%;
	position: relative;
	z-index: -1;
}
.clip-search {
	position: relative;
}

@media only screen and (max-width: 768px) {
	#wrapper .contentIn {
		padding: 20px 2%;
	}
	.clip-search {
		position: absolute;
	}
	#mainVisual {
		margin-top: 0;
		position: static;
		background: url(../img/bg02.jpg)no-repeat;
		background-size: 100%;
	}
	#mainVisual p {
		padding: 15% 0;
		text-align: center;
		background-color: rgba(0,0,0,0.6);
	}
	#mainVisual p img {
		position: static;
		width: 80%;
	}
	#mainVisual video {
		display: none;
	}
}